* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(51, 51, 51);
    position: relative;
}

.pagemain {
    padding: 60px;
    background-color: white;
    position: absolute;
    z-index: 2;
    transform-origin: top left;
    transition: transform 0.5s;
}
.trans{
    transform: rotateZ(-20deg);
}

.btn-container {
    position: fixed;
    left: -75px;
    top: -75px;
}

.btn-move {
    position: relative;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: #2396ef;
}

.white {
    color: white;
    position: absolute;
    left: 60%;
    top: 65%;
    font-size: 30px;
    cursor: pointer;
}

.white:hover {
    font-size: 32px;
}

.hidden{
    left: -200px;
}
.artcle {
    color: rgb(96, 96, 96);
}

.artcle>h1 {
    color: #2396ef;
    font-size: 26px;
}

.artcle p {
    line-height: 34px;
    text-indent: 2em;
    margin-bottom: 13px;
}

.artcle img {
    border-radius: 20px;
}

.navlist {
    position: absolute;
    top: 70vh;
    left: 20px;
}

.navlist li {
    list-style: none;
}

.navlist a {
    color: white;
    font-size: 18px;
    text-decoration: none;

}
ul li:first-child{
    margin-left: 20px;
    margin-bottom: 20px;
}
ul li:nth-child(2){
    margin-left: 35px;
    margin-bottom: 20px;

}
ul li:last-child{
    margin-left: 50px;
}
ul li a i{
    margin-right: 10px;
}