* {
    margin: 0;
    padding: 0;

}

.container {
    width: 90vw;
    display: flex;
    margin:  auto;
}

.panel {
    background-size: cover;
    background-position: center;
    margin: 10px;
    padding: 10px;
    height: 80vh;
    justify-content: space-between;
    flex: 0.2;
    cursor: pointer;
    border-radius: 50px;
    
}
.active{
    flex: 5;
}
h3 {
    line-height: 80vh;
    text-align: center;
    color: red;
    font-size: 18px;
}